<%=render 'layouts/nav_bar'%>
<div class="today-body"><br/>
  <div class="row panel">
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation text-center">
        <a href="#panel2b">
          <h1><strong><%=@mountain.name%></strong> | <%= @mountain.weather_reports.first.high%>℉</h1><br><br>
          Weather <i class="fi-thumbnails"></i> Forecast
        </a>
        <div id="panel2b" class="content text-center">
          <div class="row">
            <%= render partial: "weather_report" %>
          </div>
        </div>
        <br>
      </dd>
    </dl>
    <div class="large-4 columns text-center ">
      <h4>Snowfall</h4>
      <h4><%=@mountain.overnight%></h4><hr/>
      <h7>New Snow</h7><br>
      <small>Last 24 hrs: <%=@mountain.last_24%></small><br>
      <small>Overnight: <%=@mountain.overnight%></small><br>
      <small>Last 48 hrs:  <%=@mountain.last_48%></small><br>
      <small>Last 7 days:  <%=@mountain.last_7_days%></small><hr/>
      <h7>Snow Conditions</h7><br>
      <small><%=@mountain.snow_condition%> </small><br>
      <small>Base Depth: <%=@mountain.base_depth%></small><br>
      <small>Season Total: <%=@mountain.season_total%></small><hr/>
    </div>
    <div class="large-8 columns text-center">
      <%= render partial: "terrain_side_table" %>
      <dl class="tabs" data-tab>
        <%@mountain.peaks.each do |peak|%>
          <dd><a href="#panel<%=peak.id%>" class="trail-name"><%=peak.name%></a></dd>
        <%end%>
      </dl>
      <%= render partial: "trails_table" %>
    </div>
  </div>
  <br><br>
</div>

