<div class="row" data-equalizer>
  <% @mountains.each do |mountain| %>
    <div class="large-6 columns panel" data-equalizer-watch>
      <div class="large-8 columns text-center">
        <h3><%= link_to "<i class='fi-arrow-right medium'>".html_safe, "/#{mountain.slug}" %></i></a> <%= mountain.name %></h3>
        <div class="large-2 columns">
          <h1><%= mountain.overnight %></h1>
        </div>
        <div class="large-6 columns">
          <h2><%= mountain.weather_reports.first.high %> ℉</h2>
        </div>
      </div>
      <%= render partial: "shared/panel_terrian_report", locals: {mountain: mountain}%>
    </div>
  <%end%>
</div>