<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
  </ul>
  <section class="top-bar-section">
    <ul class="right" id="white">
      <li>
        <%if current_user%>
          <%=current_user.name%> <%= link_to "<i class='fi-x-circle'></i>".html_safe, logout_path, id: 'logout', method: 'delete' %>
        <%else%>
          <li>
            <a href="/auth/twitter">Login with Twitter <i class='fi-social-twitter'></i></a>
          </li>
        <% end %>
      </li>
      <li class="has-dropdown">
        <a href="#">Resorts</a>
        <ul class="dropdown">
          <%@mountains.each do |mountain|%>
          <li><a href="/<%=mountain.slug%>"><%=mountain.name%></a></li>
          <%end%>
        </ul>
      </li>
    </ul>
    <ul class="left">
      <li><a href="/today">SnowMaps</a></li>
      <li>
        <div class="row collapse">
          <%= render :partial => 'search/search' %>
        </div>
      </li>
    </ul>
  </section>
</nav>